name: Cairo Code Style Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Format Cairo Files
        uses: milancermak/cairo-format-action@v1
        with:
          target: contracts
          cairo-version: 2.8.4
          cairo-format-args: "--check"
